.idea
.Ds_Store
flatmates_bill/__pycache__
math_painting/__pycache__
notes_website/instance
notes_website/__pycache__
dinner_party/__pycache__/app.cpython-39.pyc
dinner_party/__pycache__/forms.cpython-39.pyc
dinner_party/__pycache__/models.cpython-39.pyc
dinner_party/__pycache__/routes.cpython-39.pyc