[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fpdf = "*"
filestack-python = "*"
numpy = "*"
pillow = "*"
qrcode = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
faster-whisper = "*"
flask-wtf = "*"
email_validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
